.scroll-stack-scroller {
  width: 100%;
  height: auto;
  overflow: visible;
  position: relative;
}

.scroll-stack-inner {
  padding: 20vh 5rem 50vh;
  position: relative;
}

.scroll-stack-card {
  height: 20rem;
  width: 100%;
  margin: 80px 0;
  padding: 3rem;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(20px);
  transform-origin: top center;
  will-change: transform, filter;
  transition: transform 0.1s ease-out;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.25);
}
